
/* ~~ Overall ~~ */

/* Step transition */

.csvv-validation {
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.csvv-animation-out {
    opacity: 0;
}

.csvv-animation-in {
    opacity: 1;
}

/* Buttons */



/* ~~ Step 1 ~~ */

/* ~~ Step 2 ~~ */

/* ~~ Step 3 ~~ */

/* ~~ Step 4 ~~ */

